*.txt
*.jrl
*.swp
*.un~
#*.pdf
*.rpt
*.cnv
*.dat

*~
*1
*log,*
*.log

*.OLBlck
*.DSNlck
*.DBK

*PSpice*
*.tag
#*.opj
*.png
*.OBK
*sav
*.xml
*.dml
*.do
*.lck
*.DRC
*.lst
*.did
*.rtcomp
*.sts
*.dmp

# expoted file
*.art
*.drl
*.BOM
*.json



footprints/*lck
footprints/*html
libraires/*.opj
libraries/*.OBK
signoise.run/*
allegro*/*
allegro/pstdedb.cdsz
CAPTURE_DESIGN_DCF/*
*artwork*/*.ART
*artwork*/*.DRL

